export DATABASE_URL=postgres://aidan:aidan@localhost:5432/solver
#export DATABASE_URL="postgres://postgres:OPDhVaVMQRh5M8V@localhost:5432"
export SECRET_KEY=SolverSecretKey123

#postgres://postgres:OPDhVaVMQRh5M8V@solver-postgres.flycast:5432
